@model ApplyingFactoryMethodToRepresentDifferentUI.Models.DerivedModel1

@{
    ViewData["Title"] = "DerivedModel2";
}

    <h1>View Model1</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Model1Field1" class="control-label"></label>
            <input asp-for="Model1Field1" class="form-control" />
            <span asp-validation-for="Model1Field1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model1Field2" class="control-label"></label>
            <input asp-for="Model1Field2" class="form-control" />
            <span asp-validation-for="Model1Field2" class="text-danger"></span>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
