@model ApplyingFactoryMethodToRepresentDifferentUI.Models.BaseModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="View1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CommonField1" class="control-label"></label>
                <input asp-for="CommonField1" class="form-control" />
                <span asp-validation-for="CommonField1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonField2" class="control-label"></label>
                <input asp-for="CommonField2" class="form-control" />
                <span asp-validation-for="CommonField2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type of object</label>
                <select onchange="" id="ddlObjectType">
                    <option value="0" selected>Select </option>
                    <option value="1">Type 1 </option>
                    <option value="2">Type 2 </option>
                </select>
            </div>
            <div id="divShowDifferentContent">

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        handleDdlChange()
    })
    function handleDdlChange() {
        $("#ddlObjectType").change(function () {
            $.ajax({
                url: "@Url.Action("ShowDifferentContent","Home")",
                data: {"derivedModelType":$(this).val()}
            }).done(function (html) {
                $("#divShowDifferentContent").html(html);
            });
        })
    }
    </script>
}